<header>
  <% const w=64; const h=w; const size=`width=${w} heigth=${h}` %>
  <nav>
    <a href="/">Home</a>
    <a href="/sobre">Sobre</a>
    <a href="/posts">Receitas</a>
    <% if(!req.session.loggedin) { %>
      <a href="/cadastro">Cadastro</a>
      <a href="/login">Login</a>
    <% } else { %>
      <a href="/post_create">Postar Receita</a>   
      <a href="/dashboard">Dashboard</a>   
      <a href="/logout">Logout</a>  
      <% if(req.session.role == "adm"){ %>
      <a href="/dashboardADM/users">Dashboard ADM</a>
    <% } } %>
  </nav>
</header>