<header>
  <% const w=64; const h=w; const size=`width=${w} heigth=${h}` %>
  <nav>
    <!-- <a href="/"><img src='./static/senai_logo.jfif' <%#= size %> > </a>
    <a href="/sobre"><img src='./static/senai_logo.jfif' <%#= size %>></a>
    <a href="/cadastro"><img src='./static/senai_logo.jfif' <%#= size %>></a>
    <a href="/login"><img src='./static/senai_logo.jfif' <%#= size %>></a>
    <a href="/dashboard"><img src='./static/senai_logo.jfif' <%#= size %>></a>
    <a href="/"><img src='./static/senai_logo.jfif' <%#= size %>></a> -->

    <a href="/">Home</a>
    <a href="/sobre">Sobre</a>

    <% if(!req.session.loggedin) { %>
      <a href="/cadastro">Cadastro</a>
      <a href="/login">Login</a>
    <% } else { %>
      <a href="/post_create">Criar postagem</a>   
      <a href="/dashboard">Dashboard</a>   
      <a href="/"></a>
      <a href="/logout">Logout</a>   
    <% } %>
  </nav>
</header>