        <% let i = 0; for(i = 0; i < dados.length; i++){ %>
        <div>
        <h2> <%- dados[i].titulo %> </h2>
        <h6> user: <%- dados[i].username %> </h6>
        <p> <%- dados[i].conteudo %> </p> <br>
        <h5><%- dados[i].data_criacao %></h5>
        </div>
        <% } %>
</table>