<div>
<h1> <%- dados.title %> </h1>
<h6> user: <%- dados.username %> </h6> <br>
<h4>Ingredientes: </h3> 
<p> <%- dados.ingredients %> </p> <br>
<h4>Modo de fazer: </h4>
<p> <%- dados.howToMake %></p>
</div>