<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    Alô SESI Sumaré<br>
    <img src='./static/senai_logo.jfif' /> 
</body>
</html>