<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head"); %>

<body>
    <%- include("../partials/menu"); %>
    <main> <center> 
        Bem-vido a página Cadastro!
        <br> <br>
        <form action="/cadastro" method="post" class="formItens">
            <label for="username">Seu nome:</label>
            <input type="text" name="username" id="username" placeholder="Digite seu nome de usuário"><br>
            <label for="senha">Senha:</label>
            <input type="password" name="password" id="senha" placeholder="Digite sua senha"><br>
            <select name="role" id="role">
                <option value="user">User</option>
                <option value="adm">ADM</option>
            </select>
            <button type="submit">Cadastrar</button>
        </form>
    </center> </main>
    <%- include("../partials/footer"); %>
</body>

</html>