<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head"); %>

<body>
    <%- include("../partials/menu"); %>
    Página modelo/template
    <%- include("../partials/footer"); %>
</body>

</html>