<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head"); %>

<body>
    <%- include("../partials/menu"); %>
    <main>
        <form action="/post_create" method="post" style="justify-content: left; text-align: left;">
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo" required/><br>
            <label for="conteudo">Conteúdo:</label><br>
            <textarea id="conteudo" name="conteudo" rows="10" cols="70" required></textarea><br>

            <button type="submit">Cadastrar postagem</button>
        </form>
    </main>
    <%- include("../partials/footer"); %>
</body>

</html>