<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head"); %>

<body>
    <%- include("../partials/menu"); %>
    <main>
        <form action="/post_create" method="post" style="justify-content: left; text-align: left;">
            <label for="title">Nome da Receita:</label><br>
            <input type="text" id="title" name="title" required/><br>
            <label for="ingredients">Ingredientes:</label><br>
            <textarea id="ingredients" name="ingredients" rows="5" cols="50" required></textarea><br>
            <label for="howToMake">Como Fazer:</label><br>
            <textarea id="howToMake" name="howToMake" rows="10" cols="50" required></textarea><br>
            <center><button type="submit">Postar Receita</button></center>
        </form>
    </main>
    <%- include("../partials/footer"); %>
</body>

</html>