<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head"); %>

<body>
    <%- include("../partials/menu"); %>
    
    Cadastro não realizado, tente novamente.
    <%- include("../partials/footer"); %>
</body>

</html>