<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head"); %>

<body>
    <%- include("../partials/menu"); %>
Este site foi criado para quem ama preparar e descobrir novas sobremesas. Aqui, os usuários podem compartilhar suas próprias receitas e explorar doces publicados por outras pessoas, sempre com foco na praticidade e no sabor. As receitas são voltadas para o dia a dia, usando ingredientes simples e acessíveis, ideais para serem feitas em casa. A proposta é reunir em um só lugar sobremesas caseiras que encantam, sem complicação e com o jeitinho do lar brasileiro.
    <%- include("../partials/footer"); %>
</body>

</html>