* {
    /* border: 1px solid red; */
}

body {
    margin: 0px auto;
    padding: 10px;
    align-items: center;
    text-align: center;
    width: 100vh;
    height: 100vh;
}

header {
    margin: 0px auto;
    border: 1px dashed gray;
    width: 95%;
}

main {
    margin:20px;
    padding: 10px;
    background-color: beige;
    border: 1px solid green;
}

footer {
    margin: 0px auto;
    padding: 10px;
}

nav {
    border
}

form {
    padding: 30px;
    color: red;
}