* {
    /* border: 1px solid red; */
}

body {
    margin: 0px auto;
    padding: 0px;
    align-items: center;
    text-align: center;
}

header {
    border: 1px dashed gray;
}

main {
    margin:20px;
    padding: 10px;
    background-color: beige;
    border: 1px solid green;
}

form {
    padding: 30px;
    color: red;
}